html {
    scroll-behavior: smooth;
}

body{
    font-family:'Raleway', sans-serif;
    
}
/* header */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    margin: auto;
}

header img {
    width: 50%;
    margin-top: 12%;
}

header nav ul {
    display: flex;
    list-style-type: none;
}

header nav ul li{
    margin: 3%;
}

header nav ul li a{
    color: black;
    text-decoration: none;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 25px;
}

header nav ul li a:hover{
    color: #0065FC;
    border-top: 2px solid #0065FC;
}

/* Main */
main{
    width: 90%;
    margin: auto;
    margin-bottom: 3%;
}

/* Section 1 */
section h1{
    font-size: 25px;
}

.left{
    display: flex;
    justify-content: left;
    align-items: center;
}

.icons{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    border-radius: 15px 0px 0px 15px;
    background-color: #f2f2f2;
}

.searchzone{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    padding-left: 20px;
    height: 50px;
    width: 230px;
    font-size: 18px;
    color:black;
    font-weight: bold;
    border-top: 1px solid #f2f2f2;
    border-bottom: 1px solid #f2f2f2;
    

}
.searchzone::placeholder { 
    color: black;
  }

.button-search{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0065FC;
    color: white;
    height: 50px;
    width: 120px;
    cursor: pointer;
    border-radius: 0px 15px 15px 0px;
    border: none;
    font-weight: bold;
}

.button-search:hover{
   color: #0065fc;
   background-color: #f2f2f2;
}

.button-search-mobile{
    display: none;
}


/* Section 2 */
section h3{
    margin-right: 20px;
}


/* filtres */
.filtres{
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    /* justify-content: space-between; */
    margin-top: 2%;
    margin-right: 20%;
    font-weight: bold;
}

.filtre{
    border: 4px solid #f2f2f2;
    border-radius: 30px;
    display: flex;
    padding: 10px 25px 10px 0px;
    margin-right: 5%;
    align-items: center;
    height: 25px;
    cursor: pointer;
    margin-bottom: 5%;
}

.filtre:hover{
    color: white;
    background-color: #0065FC;
    border: 4px solid #0065FC;
}

.filtre i{
    font-style: normal;
} 

.filtre-icons{
      height: 25px;
      padding: 15px;
      display: flex;
      text-align: center;
      align-items: center;
      justify-content: center;
      color: #0065fc;
      background-color: #deebff;
      border-radius: 30px;
      margin-left: -5px;
      width: 25px;
      margin-right: 15px;
}

.infoicons{
    color: #0065FC;
    width: 22px;
    height: 22px;
    border: 2px solid #f2f2f2;
    border-radius: 25px;
    margin-right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.info{
    display: flex;
    align-items: center;    
    margin-top: 20px;
    margin-bottom: 40px;
}

/* Hebergements a Marseille et les plus populaires */

.hebergements-marseille-les-plus-populaires{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 5%;
}

.hebergements-marseille-les-plus-populaires-card{
    display: flex;
    flex-direction: column;
    background-color: #f2f2f2;
    padding: 2%;
    border-radius: 20px;
    justify-content: space-between;
}

.hebergements-marseille-les-plus-populaires-card  h2{
    font-size: 20px;
    margin-block-start: 5px;
    margin-block-end: 5px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

/* Hebergements a Marseille */

.hebergements-marseille{
    width: 65%;
}

.hebergements-marseille-cards{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 3%;
}

.hebergements-marseille-card{
    display: flex;
    flex-direction: column;
    width: 30%;
    text-decoration: none;
    color: black;
    background-color: white;
    padding: 1%;
    border-radius: 20px;
    margin-bottom: 3%;
}

.hebergements-marseille-card-img img{
    width: 100%;
    height: 130px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

.hebergements-marseille-card-details h3{
    font-size: 18px;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.hebergements-marseille-card-details p{
    font-size: 16px;
    margin-block-start: 8px;
    margin-block-end: 8px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.hebergements-marseille-card-devise, .hebergements-marseille-card-price{
    font-weight: bold;
}


/*etoiles*/
.colorblue{
color: #0065FC;
}
.colorgrey{
color: #deebff;
}
/* Afficher plus */
.afficher-plus{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 18px;
}

.afficher-plus:hover{
    text-decoration: underline;
    color: #0065FC;
}

/* Les plus populaires */
.les-plus-populaires{
    width: 25%;
}
.les-plus-populaires h2{
    display: flex;
    justify-content: space-between;
    margin-bottom: 3%;
}
.les-plus-populaires-cards{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 3%;
}

.les-plus-populaires-card{
    display: flex;
    width: 100%;
    height: 170px;
    text-decoration: none;
    color: black;
    background-color: white;
    padding: 1%;
    border-radius: 20px;
}

.les-plus-populaires-card-img img{
    width: 160px;
    height: 100%;
    object-fit: cover;
    border-radius: 20px 0px 0px 20px;
}

.les-plus-populaires-card-details{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: auto;
    margin-left: 20px;
}

.les-plus-populaires-card-details h3{
    font-size: 18px;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    padding-top: 15px;
}

.les-plus-populaires-card-details p{
    font-size: 16px;
    margin-block-start: 8px;
    margin-block-end: 8px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.les-plus-populaires-card-ranks{
    padding-top: 20%;
}

.les-plus-populaires-card-devise{
    font-weight: bold;
}


/* Activités */
.activites-marseille{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.colonne-activite-marseille{
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    width: 22%;
    height: 500px;
}

.activite-marseille-card-row-1{
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: black;
    background-color: white;
    box-shadow: 2px 2px 2px 2px #f2f2f2;
    border-radius: 25px;
}

.activite-marseille-card-row-1 .activite-marseille-card-img{
    width: 100%;
    height: 90%;
}

.activite-marseille-card-row-1 .activite-marseille-card-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 25px 25px 0px 0px;
}

.activite-marseille-card-row-1 .activite-marseille-card-details{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 10%;
    margin-left: 5%;
}

.activite-marseille-card-row-1 .activite-marseille-card-details h3{
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
}

.activite-marseille-card-row-2{
    width: 100%;
    height: 280px;
    text-decoration: none;
    color: black;
    background-color: white;
    box-shadow: 2px 2px 2px 2px #f2f2f2;
    border-radius: 25px;
}

.activite-marseille-card-row-2 .activite-marseille-card-img{
    width: 100%;
    height: 230px;
}

.activite-marseille-card-row-2 .activite-marseille-card-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 25px 25px 0px 0px;
}

.activite-marseille-card-row-2 .activite-marseille-card-details{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 50px;
    margin-left: 5%;
}

.activite-marseille-card-row-2 .activite-marseille-card-details h3{
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
}


.activite-marseille-card-row-3{
    width: 100%;
    height: 180px;
    text-decoration: none;
    color: black;
    background-color: white;
    box-shadow: 2px 2px 2px 2px #f2f2f2;
    border-radius: 25px;
}

.activite-marseille-card-row-3 .activite-marseille-card-img{
    width: 100%;
    height: 130px;
}

.activite-marseille-card-row-3 .activite-marseille-card-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 25px 25px 0px 0px;
}

.activite-marseille-card-row-3 .activite-marseille-card-details{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 50px;
    margin-left: 5%;
}

.activite-marseille-card-row-3 .activite-marseille-card-details h3{
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
}

/* footer */
footer{
    background-color: #f2f2f2;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: #f2f2f2;
    padding: 2% 0;
}

.footerBlock{
    margin-left: 5%;
    margin-right: 10%;
}

.footerBlock ul{
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 0;
}

.footerBlock ul li{
    list-style-type: none;
    margin-bottom: 5%;
}

.footerBlock ul li a{ 
    text-decoration: none;
    color: black;
}

.footerBlock ul li a:hover{ 
    text-decoration: underline;
    color: #0065FC;
}

/* TABLETTE */
@media (max-width: 992px) {
/* hebergement a marseille */
    .hebergements-marseille{
    width: 100%;
}
.hebergements-marseille-card{
    width: 45%;
}
.hebergements-marseille h2{
    display: flex;
    justify-content: center;
}
.hebergements-marseille-les-plus-populaires{
    flex-direction: column-reverse;
}
.afficher-plus{
    display: flex;
    justify-content: center;
}
/* les plus populaires */
.les-plus-populaires{
    width: 100%;
    background-color: white;
    border: #f2f2f2 solid 4px;
}
.les-plus-populaires h2{
   display: flex;
   justify-content: center;
}
.fa-solid, .fas {
    margin-left: 5%;
}
/* activites a marseille */
.activites-marseille{
    width: 100%;
}
h2{
    margin-left: 20%;
}
.colonne-activite-marseille{
    width: 45%;
}
/* footer */
.footerBlock{
    flex-direction: ;
}
}
/* MOBILE */
@media (max-width: 768px) {
    header {
        width: 100%;
        flex-direction: column;
    }

    header a{
        text-align: center;
    }

    header nav{
        width: 100%;
        /* border-bottom: 5px solid #f2f2f2; */
    }

    header nav ul{
        width: 100%;
        margin-block-start: 0;
        margin-block-end: 16px;
        margin-inline-start: 0;
        margin-inline-end: 0;
        padding-inline-start: 0;
    }

    header nav ul li{
        width: 50%;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    header nav ul li a{
        color: black;
        text-decoration: none;
        padding-left: 0;
        padding-right: 0; 
        padding-top: 0;
        padding-bottom: 16px;
        border-bottom: 5px solid #f2f2f2;
        width: 100%;
    }

    header nav ul li a:hover, header nav ul li a:active, header nav ul li a:focus{
        border-top: none;
        border-bottom: 5px solid #0065FC;
    }

    /* Main */
    main{
        width: 100%;
        margin: auto;
        margin-bottom: 3%;
    }

    main section:nth-child(1), main section:nth-child(2), main section:nth-child(3), main > span{
        width: 90%;
        margin: auto;
    }

    main section:nth-child(2){
        margin: 5%;
    }

    .button-search{
        display: none
    }
    
    .button-search-mobile{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #0065FC;
        color: white;
        height: 50px;
        width: 50px;
        cursor: pointer;
        border-radius: 15px;
        border: none;
        font-weight: bold;
        margin-left: -10px;
    }

    .button-search-mobile:hover, .button-search-mobile:focus, .button-search-mobile:active{
        color: #0065fc;
        background-color: #f2f2f2;
     }

     .filtres {
        flex-wrap: wrap;
    }

    /* Hebergements a Marseille et les plus populaires */

    .hebergements-marseille-les-plus-populaires{
        flex-direction: column-reverse;
    }

    .les-plus-populaires {
        width: 90%;
        background-color: #f2f2f2;
    }
    .hebergements-marseille-les-plus-populaires-card h2{
        font-size: 20px;
    }

    .hebergements-marseille-les-plus-populaires-card{
        padding: 5%;
        border-radius: 0px;
    }

    .les-plus-populaires-card{
        width: auto;
        margin-bottom: 5%;
    }

    .hebergements-marseille{
        background-color: white;
    }

        .hebergements-marseille-cards {
        flex-direction: column;
        width: 110%;
    
    }
    
    .hebergements-marseille-card {
       width: 120%;
        margin-left: 3%;
        box-shadow: 2px 2px 2px 2px #f2f2f2;
        border-radius: 25px;
    }
    .hebergements-marseille-card-img{
        width: 101%;
    }
    .hebergements-marseille-card-details{
        margin-left: 2%;
    }
    .afficher-plus{
        font-size: 19px;
        margin-top: 20px;
    }
    /* Activités a marseille */  
   
    h2{
        font-size: 25px;
        margin-left: 5%;
    }
    .activites-marseille{
        flex-direction: column;
        margin-left: 4%;
    }
    .colonne-activite-marseille{
     width: 95%;
    }
    .activite-marseille-card-row-1{
        height: 70%;
    }
    .activite-marseille-card-row-1 .activite-marseille-card-img{
        width: 100%;
        height: 80%;
    }
   .activite-marseille-card-row-1 .activite-marseille-card-details{
       height: 20%;
   }
    .activite-marseille-card-row-2{
        margin-top: -15%;
        box-shadow: 2px 2px 2px 2px #f2f2f2;
        border-radius: 25px;
    }
    .activite-marseille-card-row-2 .activite-marseille-card-img{
        height: 80%;
    }
    .activite-marseille-card-row-2 .activite-marseille-card-details{
       height: 20%;
    }
    .activite-marseille-card-row-3{
        margin-bottom: 3%;
    }
    .activite-marseille-card-row-3 .activite-marseille-card-img{
      height: 100%;
      margin-top: -15%;
    }
    .activite-marseille-card-row-3 .activite-marseille-card-details{
        padding-top: 5%;
    }
     /* footer */
     footer{
     flex-direction: column;
     display: block;
     }
 
}


